.mainLoginContainer{
    margin-top: 80px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

  /*Sign In Form*/
  .signin{
    position: relative;
    height: 700px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 30px 125px -5px rgb(43, 12, 12);}
  /*Background Img*/
  .back-img{
    position: relative;
    width: 100%;
    height: 250px;
  }
  .layer {
      background-color: rgba(111, 141, 165, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .nonactive {
    color: rgba(255, 255, 255, 0.6);
  }
  .sign-in-text{
    top: 175px;
    position: absolute;
    z-index: 1;
  }
  h2 {
    padding-left: 15px;
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 300;
  }
  .point{
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 235px;
    padding-left: 50px;
    font-size: 20px;
  }
  
  /*form-section*/
  .form-section{
    padding: 70px 90px 70px 90px;
  }
  

  /*sign in botton*/

  .signInButton{
      height: 80px;
      width: 100%;
      bottom: 0px;
      position: absolute;
      background-color: rgb(122, 122, 223);
      color: white;
      cursor: pointer;
      border: none;
      font-size: 20px;
  }
  .usernameInputs{
      height: 50px;
  }
 .usernameSections{
     position: relative;
     margin-top: 35px;
 }
  .usernameSubmits{
      height: 50px;
      width: 120px;
      position: relative;
      border-radius: 5px;
      background-color: rgb(121, 121, 247);
  }
/*end*/